*
{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    text-align: center;
}
img{
    display: block;
    height: 600px;
    width: 1000px;
    margin: 0 auto;
    transition: 0.3s;
}
body{
    background: #0f222f;
}

section {
    overflow: hidden;
}



  
  
