*
{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #0f222f;
}

/* section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}*/

section {
    overflow: hidden;
}

h1{
    text-align: center;
    color: aliceblue;
}
h2{
    text-align: center;
    color: aliceblue;
}

img{
    display: block;
    height: 570px;
    width: 1000px;
    margin: 0 auto;
    transition: 0.3s;
}


@media (max-width: 900px) {

    section {
        overflow: hidden;
    }

    img{
        height: 490px;
        width: 500px;
    }

}

@media (max-width: 525px) {

    section {
        overflow: hidden;
    }

    img{
        height: 500px;
        width: 370px;
        margin-top: 1rem;
    }
    h1{
        margin-left: 0.5rem;
        padding-top: 3rem;
    }
    h2{
        margin-left: 0.5rem;
        margin-top: 1rem;
    }
}






  
  
